@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: hsla(0, 0%, 86%, 0.625);
}
header {
  padding-top: 10px;
  margin: auto;
}

nav {
  width: 90vw;
  height: 62px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 2.5rem;
  margin-right: 10px;
}
.logo h1 {
  font-weight: bolder;
  color: black;
  font-family: "Quicksand", serif;
}
nav a {
  color: black;
  text-decoration: none;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  gap: 32px;
}
.nav-list a:nth-child(1) {
  color: orange;
}
.nav-list a:nth-child(2) {
  color: SKYBLUE;
}
.nav-list a:nth-child(3) {
  color: rgb(5, 212, 223);
}
.nav-list a:nth-child(4) {
  color: rgb(93, 88, 239);
}
.nav-btn {
  padding: 10px;
  background-color: rgb(254, 163, 1);
  color: white;
  border: none;
  border-radius: 8px;
}
.banner {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.banner-text h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: black;
  font-family: "Quicksand", serif;
}
.banner-text span:nth-child(1) {
  color: orange;
}
.banner-text span:last-child {
  color: rgb(5, 212, 223);
}
.banner-text p {
  color: black;
  font-family: "Quicksand", serif;
}
.enroll-btn {
  background-color: black;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 8px;
}
.stander-curiculam {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  gap: 30px;
}
.stander-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  width: 90vw;
  height: 481.5px;
  margin: auto;
}
.stander-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card {
  background-color: white;
}
 .stander-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: hsla(0, 0%, 86%, 0.625),
    linear-gradient(180deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
    width: 367.8px;
height: 481.5px;

}
.stander-card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background:
linear-gradient(180deg, rgb(222, 255, 222), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
    width: 367.8px;
height: 481.5px;
}
.stander-card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  background: hsla(0, 0%, 86%, 0.625),
    linear-gradient(180deg, rgb(255, 222, 222), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
    width: 367.8px;
height: 481.5px;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 86%, 0.625),
    linear-gradient(180deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
  width: 316.5px;
  height: 350.8px;
  gap: 20px;
  border-radius: 10px;
}
.stander-card1 {
  text-align: center;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.stander-card2 {
  text-align: center;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.stander-card3 {
  text-align: center;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card button{
  color: rgb(240, 170, 0);
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 8px;
}
.card .read-more-btn1{
    color: rgb(100, 200, 255);
}
.card .read-more-btn3{
    color: rgb(135, 0, 255);

}
.prev-btn {
  color: white;
  font-size: 18px;
  font-weight: 900;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: rgb(254, 163, 1);
}
.next-btn {
  color: white;
  font-size: 18px;
  font-weight: 900;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: rgb(254, 163, 1);
}

.stories {
  background: linear-gradient(
    0deg,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 50px;
  gap: 30px;
}
.story-container {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.story-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: white;
}
.story-text-date {
  background-color: rgb(60, 216, 232);
  font-weight: bold;
  font-size: 10px;
  width: 130px;
  height: 30px;
  margin-left: 20px;
  color: white;
  border-radius: 40px;
  text-align: center;
  border: none;
  margin-bottom: -18px;
  top: -19px;
  position: relative;
}
.story-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 50%;
  gap: 20px;
}
.story-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.story-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.story-card button {
  font-size: 10px;
  width: 130px;
  height: 30px;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
  background: rgb(149, 178, 38);
  border: none;
  position: relative;
  margin-bottom: -18px;
  top: -19px;
}
.story-card .perple {
  background: rgb(93, 88, 240);
}
.story-card h3 {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.view-btn {
  background-color: black;
  width: 97px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
}
footer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  background: rgb(1, 172, 253);
}
.last-container {
  width: 90%;
  height: 519px;
  margin: auto;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.last-text {
  width: 30vw;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.last-logo {
  display: flex;
  align-items: center;
}
.last-text img {
  height: 40px;
}
.last-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.last-text p {
  color: white;
}
.last-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.last-list a {
  color: white;
  text-decoration: none;
}
.icons {
  color: white;
}


@media (max-width: 768px) {

    .nav-list {
      display: none;
    }
    .nav-btn{
      display: none;  
    }
    
    
  
  }
  @media (max-width: 768px) {
    body{
        position:absolute;
    }
 nav{
       position: absolute;
    }
   .nav-list {
      display: none;
    }

    .menu-logo{
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
    }
  
    .menu-logo span {
      display: block;
        width: 100%;
      height: 4px;
      background-color: black;
      margin: 5px;
      transition: all 0.3s ease;
    }
  
    .nav-active .nav-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      z-index: 100;
    }

    .banner {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        margin-top: 60px;
      }
    
      .banner-text {
        width: 100%;
        align-items: center;
      }
    
      .banner-text h1 {
        font-size: 2.5rem;
        line-height: 1.4;
      }

    
      .banner-text p {
        font-size: 14px;
      }
    
      .enroll-btn {
        margin: 20px auto;
        padding: 12px 20px;
        font-size: 16px; 
      }
      .banner img {
        width: 80%; 
        max-width: 400px;
        /* height: auto; */
        margin: auto;
      }
.stander-curiculam{
    margin-bottom: 40px;
}
      .stander-card {
        display: grid !important;
        grid-template-columns: 1fr;
        gap: 20px;
       
        }
      .card {
        width: 100%;
      }

        .stories {
            padding: 20px;
            margin-top: 780px;
        }
    .story-text{
        display: none;
    }
    .story-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
        gap: 20px;
        width: 100%;
      }
      .story-card {
        width: 100%;
      }
    .control{
        display: none;
    }
    .last-container {
        flex-direction: column;
        gap: 20px;
      }
      .last-text {
        width: 100%;
      }
      .last-text h1 {
        font-size: 20px;
      }
      .last-text p {
        font-size: 14px;
      }
      .last-list {
        width: 100%;
        display: flex;
        align-items: flex-start;
      }
      .icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
      }
  }
  
  